UnitStats(
  id: 0,
  race: Terran,
  name: "Infantry",
  max_health: 10.0,
  max_ammo: -1.0,
  max_fuel: -1.0,
  tags: [
      Ground,
      Biological,
      Light,
      Biological,
  ],
  base_armour: 0.0,
)