UnitStats(
  id: 1,
  race: Zerg,
  name: "Zergling",
  max_health: 10.0,
  max_ammo: -1.0,
  max_fuel: -1.0,
  tags: [
    Ground,
    Light,
    Biological
  ]
  base_armour: 0.0,
  primary_weapon: ZERGLING_ATTACK,
)